
<!-- <link rel="stylesheet" href="./login.component.css"> -->
<div class="text-white ms-5 p-3">
  <h4>{{aim}}</h4>
</div>

<div  id="center" class="container">

 <form class="form-container" (ngSubmit)="login()" [formGroup]="loginForm">
   <h3>LOGIN</h3>
    <div class="mb-3">
      <label for="text" class="form-label">ac number </label>
      <input name="acno" formControlName="acno" type="text" [placeholder]="data" class="form-control" id="acid" aria-describedby="emailHelp" >
      
    </div>
    <div *ngIf="this.loginForm.get('acno')?.errors && this.loginForm.get('acno')?.touched">
      <p class="text-danger">pleas enter valid account number</p>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input name="psw"  formControlName="psw" type="password" placeholder="Password" class="form-control" id="psw">
    </div>
    <div *ngIf="this.loginForm.get('psw')?.errors && this.loginForm.get('psw')?.touched">
      <p class="text-danger">pleas enter valid password</p>
    </div>
    <div id="a1" class="mb-3 form-check">
      
      <a style="text-decoration: none;" routerLink="register">New User? Register</a>
    </div>
    <button id="bt"  type="submit" class="btn btn-primary btn-block">Submit</button>
 </form>
</div>
