<div class="text-white ms-5 p-3">
    <h4></h4>
  </div>
  
  <div  id="center" class="container">
  
   <form class="form-container" (ngSubmit)="deposit()" >
     <h3>DEPOSIT</h3>
      <div class="mb-3">
        <label for="text" class="form-label">ac number </label>
        <input name="acno" [(ngModel)]="acno" type="text" placeholder="ac number" class="form-control" id="acid" aria-describedby="emailHelp" >
        
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input name="psw"  [(ngModel)]="psw" type="password" placeholder="Password" class="form-control" id="psw">
      </div>
      <div class="mb-3">
        <label for="text" class="form-label">depsit amount</label>
        <input name="amnt" [(ngModel)]="amnt" type="text" placeholder="amount" class="form-control" id="amnt" aria-describedby="emailHelp" >
        
      </div>
      
      
      <button id="bt"  type="submit"  class="btn btn-primary btn-block">Deposit</button>
   </form>
  </div>




  <div class="text-white ms-5 p-3">
    <h4></h4>
  </div>
  
  <div  id="center" class="container">
  
   <form class="form-container"(ngSubmit)="withdraw()" >
     <h3>WITHDRAW</h3>
      <div class="mb-3">
        <label for="text" class="form-label">ac number </label>
        <input name="acno"  type="text" placeholder="ac number" class="form-control" id="acid" aria-describedby="emailHelp" >
        
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input name="psw"   type="password" placeholder="Password" class="form-control" id="psw">
      </div>
      <div class="mb-3">
        <label for="text" class="form-label">withdraw amount</label>
        <input name="acno"  type="text" placeholder="amount" class="form-control" id="acid" aria-describedby="emailHelp" >
        
      </div>
      
      
      <button id="bt"  type="submit"  class="btn btn-primary btn-block">Withdraw</button>
   </form>
  </div>
