<div  id="center" class="container p-3">
    <div id="t">
        <h3 class="">history</h3>
    </div>


    <table class="table table-bordered ">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">TYPE</th>
            <th scope="col">AMOUNT</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>DEBIT</td>
            <td>1000</td>
            
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>CREDIT</td>
            <td>1000</td>
            
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>DEBIT</td>
            <td>1000</td>
          </tr>
        </tbody>
      </table>
</div>