<div  id="center" class="container p-3">
    <div id="t">
        <h3 class="">history</h3>
    </div>


    <table class="table table-bordered ">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">TYPE</th>
            <th scope="col">AMOUNT</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of transaction">
            <th scope="row">*</th>
            <td>{{i.type}}/-</td>
            <td>{{i.amount}}</td>
            
          </tr>
       
        </tbody>
      </table>
</div>