#center{
    justify-content: center;
    border-radius: 18px;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 20vh;
    width: 355px;
}
#t{
text-align: center;
}